.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    color: #000000;
    background-color: #86bc26;
}

.navbar-item {
    margin-left: 50px;
    font-family: courier;
    font-size: 24px;
}

.navbar-divider {
    margin: 30px;
}

.logout-button {
    font-family: courier;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.logout-button:hover {
    text-decoration: underline;
}